.env
.DS_Store
.idea/
.vscode/
node_modules/
.pnpm-store/
coverage/
.artifacts/
__pycache__/
dist/
*.log

# Laravel
apps/api/.env
apps/api/vendor/
apps/api/storage/*.key
apps/api/storage/framework/cache/data/*
apps/api/storage/framework/sessions/*
apps/api/storage/framework/views/*
apps/api/storage/logs/*

# React Native
apps/mobile/.bundle/
apps/mobile/android/.gradle/
apps/mobile/android/app/build/
apps/mobile/android/build/
apps/mobile/ios/Pods/
apps/mobile/ios/build/
apps/mobile/ios/*.xcworkspace/xcuserdata/
apps/mobile/ios/DerivedData/
